@model FashionShop.Web.Models.RegisterViewModel
@using BotDetect.Web.Mvc;
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/shared/Layouts.cshtml";
}
<div class="register">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(false, "", new { @class = "error" })

        if (ViewData["SuccessMsg"] != null)
        {
            <div class="alert alert-success" role="alert">
                <strong>Chúc mừng bạn! </strong> đã đăng ký thành công.
                <br />Vui lòng chọn <a href="/dang-nhap.hmtl"> vào đây</a> để đăng nhập.
            </div>
        }
        <div class="register-top-grid">
            <h3>Thông Tin Cá Nhân</h3>
            <div class="mation">
                <span>Họ Tên<label></label></span>
                @Html.TextBoxFor(model => model.FullName)
                <span>Email<label></label></span>
                @Html.TextBoxFor(model => model.Email)
                <span>Địa Chỉ<label></label></span>
                @Html.TextBoxFor(model => model.Address)
                <span>Số Điện Thoại<label></label></span>
                @Html.TextBoxFor(model => model.PhoneNumber)

                <span>Tên Đăng Nhập<label></label></span>
                @Html.TextBoxFor(model => model.UserName)
                <span>Mật Khẩu<label></label></span>
                @Html.PasswordFor(model => model.Password)

                @{
                    MvcCaptcha registerCaptcha = new MvcCaptcha("registerCaptcha");
                }
                @Html.Captcha(registerCaptcha)
                @Html.TextBox("CaptchaCode")
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
        <div class="register-but">
            <input type="submit" value="Đăng Ký">
            <div class="clearfix"> </div>
        </div>
    }
</div>

